yowsup/layers/axolotl/protocolentities/schemas/iq_keys_get_result.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <!--<iq type="result" from="s.whatsapp.net" id="3">-->
        <!--<list>-->
            <!--<user jid="79049347231@s.whatsapp.net">-->
                <!--<registration>123456</registration>-->
                <!--<type>5</type>-->
                <!--<identity>eeb668c8d062c99b43560c811acfe6e492798b496767eb060d99e011d3862369</identity>-->
                <!--<skey>-->
                    <!--<id>000000</id>-->
                    <!--<value>a1b5216ce4678143fb20aaaa2711a8c2b647230164b79414f0550b4e611ccd6c</value>-->
                    <!--<signature>-->
                        <!--94c231327fcd664b34603838b5e9ba926718d71c206e92b2b400f5cf4ae7bf17d83557bf328c1be6d51efdbd731a-->
                        <!--26d000adb8f38f140b1ea2a5fd3df2688085-->
                    <!--</signature>-->
                <!--</skey>-->
                <!--<key>-->
                    <!--<id>36b545</id>-->
                    <!--<value>c20826f622bec24b349ced38f1854bdec89ba098ef4c06b2402800d33e9aff61</value>-->
                <!--</key>-->
            <!--</user>-->
        <!--</list>-->
    <!--</iq>-->
     <xs:redefine schemaLocation="yowsup://iq/iq">
         <xs:simpleType name="iq_type">
            <xs:restriction base="iq_type">
                <xs:enumeration value="result" />
            </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="iq">
            <xs:complexContent>
                <xs:extension base="xs:string">
                    <xs:sequence>
                        <xs:element name="list" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="registration" maxOccurs="1" minOccurs="1">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="yowsup_encodable">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value=".+" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="yowsup_encodable">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value=".+" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identity" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:restriction base="yowsup_encodable">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value=".+" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:restriction>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="skey" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="id" maxOccurs="1" minOccurs="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:restriction base="yowsup_encodable">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:pattern value=".+" />
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:restriction>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="signature" minOccurs="1" maxOccurs="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:restriction base="yowsup_encodable">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:pattern value=".+" />
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:restriction>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="value" minOccurs="1" maxOccurs="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:restriction base="yowsup_encodable">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:pattern value=".+" />
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:restriction>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:all>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="key" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="id" maxOccurs="1" minOccurs="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:restriction base="yowsup_encodable">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:pattern value=".+" />
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:restriction>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="value" minOccurs="1" maxOccurs="1">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:restriction base="yowsup_encodable">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:pattern value=".+" />
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:restriction>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:all>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:all>
                                            <xs:attribute name="jid" use="required" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                     </xs:element>
                     </xs:sequence>
                </xs:extension>
            </xs:complexContent>

        </xs:complexType>
    </xs:redefine>

 </xs:schema>